#player {height: 400px;}
.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    color: black;
}
.item {margin-right: 0; margin-left: 0; border-bottom: 1px solid silver; padding: 10px 0; display: block;}
#list {max-height: 85vh; overflow-y: auto;}
/*Mobile*/
@media only screen and (max-width: 767px) {
    #player {height: 200px; border-bottom: 1px solid silver; padding-bottom: 15px;}
    #list {max-height: 55vh;}
}