# Put attributes here
*.py text eol=lf
*.feature text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.less text eol=lf
*.jade text eol=lf
*.sh text eol=lf
*.MD text eol=lf